# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Конфигурация
config.py
.env

# Виртуальное окружение
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# Базы данных
*.db
*.sqlite
*.sqlite3

# Системные файлы
.DS_Store
Thumbs.db